{{ define "main" }}
  <article>
    <header class="list-header">
      <h1>{{ .Title }}</h1>
      <span class="list-count">{{ len (where .RegularPagesRecursive "Type" "!=" "page") }} posts</span>
    </header>
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
